
.content
{
  min-height: 450px;
  max-width:100%;
  border: solid white 1px;
}

#left 
{
  background: url("../images/background.jpg");
}

#playlists
{
  background: url("../images/background2.jpg");

}


#logoDiv
{
  background: url("../images/ftmlogo.jpg") no-repeat;
  min-height: 250px;
  max-width:100%;
  
}


#bottom
{
  background: url("../images/Bottom.jpg");
  min-height: 200px;
  max-width:100%;

}

.fp__btn {
  background: #1FD55E;
}

body
{
  background-color: black;
  color:white;
}

